<% include partials/head.ejs %>
<body>
    <% include partials/header.ejs %>
    <main>
        <article>
            <h2><%= data[0].title %></h2>
            <h2><%= data[0].content %></h2> 
            <h2><%= data[0].ingredients %></h2> 
        </article>
    </main>
    <% include partials/footer.ejs %>
</body>
</html>